<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDb_ywjPwwfQYIoMTGvA_MzRaNCYSctj4w</string>
	<key>GCM_SENDER_ID</key>
	<string>255036669928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jobdemo.app</string>
	<key>PROJECT_ID</key>
	<string>on-demand-7ed55</string>
	<key>STORAGE_BUCKET</key>
	<string>on-demand-7ed55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255036669928:ios:e83c904129f660e431ee5d</string>
</dict>
</plist>